body {
  background-color: black;
  /* overflow: hidden; */
}
.textScreen{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#leaderboardEx{
  color: white;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  overflow: auto;
}
#leaderboardEx td{
  color: rgb(145, 145, 145);
}
tr, th{
  text-align: left;
  border-bottom: 1px solid white;
}
#leaderboardEx tr:nth-child(2) td{
  color: gold;
}
#leaderboardEx tr:nth-child(3) td{
  color: silver;
}
#leaderboardEx tr:nth-child(4) td{
  color: rgb(163, 74, 32);
}
/* .title{
	font-family: 'Mountains of Christmas', cursive;
	text-align: center;
	font-size: 2em;
	position: relative;
  line-height: 30px;
	/* display: inline-block; */
/* color: white;
	overflow: visible; 
} */
#leaderboardScreenEx{
  display: flex;
}
#titleEx{
  color: white;
  position: absolute;
  top:0;
}